body {
  background: url("img/bg-grain.png") #FAFAFA;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #333333;
  padding-top: 90px;
}
h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}
h2, h3{
  font-size: 44px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 45px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
  color: #333333;
}

/*Base*/
.margin-height {
  margin: 20px 0;
}
.margin-top {
  margin-top: 20px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-bottom2 {
  margin-bottom: 40px;
}
.margin-bottom3 {
  margin-bottom: 60px;
}
.padding-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-title {
  font-size: 44px;
}

/*Topbar*/
#topbar {
  background: url("img/bg-grain.png") #FAFAFA;
  padding: 0;
  border-bottom: 0;
}
#topbar ul {
  float: right;
}
#topbar ul a {
  display: block;
  padding: 35px 25px;
  font-size: 16px;
}
#topbar a {
  color: #333333;  
}
#topbar li.active a {
  background: transparent;
  color: #74C135;
  box-shadow: inset 0 -6px 0 #74C135;
}
#topbar a span {
  color: #74c135;
}
#topbar a:hover {
  color: #74c135;
  text-decoration: none;
}
#topbar .navbar-brand {
  background: url('img/logo-astux.png') no-repeat 100% 50%;
  width: 174px;
  height: 51px;
  text-indent: -9999px;
  overflow: hidden;
  margin-top: 19px;
}
#topbar .navbar-toggle {
  border: 0;
  margin-right: 8px;
}
#topbar .navbar-toggle .icon-bar {
  background-color: #444;
  height: 3px;
}

/*Main*/
#main {
  background: #d0d0b4;
}
#main .padding-container {
  padding-bottom: 0px;
}
#main h2 {
  font-size: 60px;
  line-height: 76px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: white;
  margin-bottom: 10px;
}
#main h2 span {
  color: #74c135;
  font-weight: 400;
  text-shadow: none;
}
#main img {
  margin-bottom: -1px;
}

/*Services*/
#services {
  background: url("img/bg-stardust.png") #FAFAFA;
  color: #999999;
  font-size: 18px;
}
#services h3 {
  color: whitesmoke;
}
#services .col-sm-6.text-center {
  padding: 0 30px;
}
#services h4 {
  font-size: 35px;
  margin: 5px;
  font-weight: 700;
  margin-top: 0px;
  letter-spacing: -1px;
}
#services h5 {
  font-size: 18px;
  color: #666666;
}
#services .text-services .row {
  padding: 15px 0;
}
#services .text-services p{
  margin-bottom: 30px;
}
#services .services-details{
  background: whitesmoke;
  color: #999999;
  border-radius: 3px;
  padding: 20px 0;
}
#services .services-image {
  margin-top: 40px;
  padding-left: 50px;
}

/*Why*/
#why{
  background: url("img/bg-sprinkles.png") #f2ecd5;
  font-size: 18px;
}
#why .text-why {
  margin-bottom: 40px;
}
#why h4 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -1px;
}
#why .why-robot {
  margin-top: 40px;  
}
#why h5 {
  font-weight: 700;
  margin: 20px 0px 10px 0px;
  line-height: 24px;
}
#why .why-robot p {
  font-size: 15px;
  color: #666666;
}
#why .btn-primary.btn-lg, #portfolio .btn-primary.btn-lg {
  border: none;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset;
  padding: 15px 35px;
}

/*Portfolio*/
#portfolio {
 background: #aadcf7;
 background-image: url("img/bg-ship.png"), url("img/bg-clouds.png");
 background-repeat: no-repeat;
 background-size: auto, 100%;
 background-position: left 100px, bottom;
}
#portfolio .portfolio-cases {
  margin-bottom: 40px;
}
.portfolio-cases h4 {
  margin-top: 12px;
  margin-bottom: 4px;
}
.portfolio-cases p {
  font-size: 13px;
}

/*Portfolio Listing*/
#portfolio-disclaimer {
  background: url("img/bg-stardust.png");
  text-align: center;
}
#portfolio-disclaimer h2 {
  margin-top: 0;
  font-weight: 300;
  letter-spacing: -1px;
  color: white;
  margin-bottom: 10px;
}
#portfolio-disclaimer p {
  color: #CCC;
  margin-bottom: 0;
}

#portfolio-listing {
  background: url("img/img-ruler.png"), url("img/img-note.png"), url("img/bg-vintage.png");
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: left -40px top 40px, right 40px bottom -50px, top;
}
#portfolio-listing .section-title {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.portfolio-item {
  margin-top: 30px;
  background: whitesmoke;
  display: block;
  color: #333;
  height: 255px;
  overflow: hidden;
}
.portfolio-item:hover {
  color: #333;
  text-decoration: none;
  background: #DFDFDF;
}
.portfolio-item .pull-left {
  height: 255px;
  margin-right: 30px;
}
.portfolio-item .media-description {
  padding: 20px 20px 20px 0;
}
.portfolio-item p {
  font-size: 20px;
  font-family: "Gentium Basic", Georgia, serif;
}
.portfolio-item h3 {
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: 400;
}
.portfolio-item span {
  color: #74c135;
  text-decoration: underline;
}
#portfolio-gallery img {
  margin: 0;
}

/*Contact*/
#contact {
  background: url("img/bg-square.png") #232426;
  color: #999999;
}
#contact h3 {
  color: whitesmoke;
}
#contact .call {
  font-size: 18px;
  margin-bottom: 30px;
}
#contact .call span{
  font-size: 25px;
}
#contact form input, #contact form textarea{
  border-style: none none solid;
  border-width: medium medium 1px;
  background: transparent;
  border-radius: 0px;
  padding-left: 0;
}
#contact form .btn-default {
  margin-top: 10px;
  background: transparent;
  color: #999999;
}
#contact form .btn-default:hover {
  color: #74c135;
}
#contact .form-control:focus{
  box-shadow: none;
  border-color: none;
}
#contact .address-box {
  padding-left: 30px;
  font-size: 15px;
}
#contact address {
  margin-top: 10px;
  margin-bottom: 0px;
}
#contact p.number {
  font-size: 14px;
  margin-bottom: 0px;
}
#contact span {
  color: #74c135;
}
#contact .glyphicon {
  font-size: 16px;
  margin: 0 5px 0 15px;
  top: 4px;
}
#contact address a{
  margin: 0 2px;
}

/*Footer*/
footer {
  background: #333333;
  color: #74c135;
}
footer .container {
  padding: 10px 15px;
}
footer .title-astux {
  margin-top: 8px;
}
footer a {
  margin-left: 5px;
}

/*Tech*/
#tech {
  padding-top: 0px;
  background: white;
}
#tech h4 {
  font-weight: 700;
  margin-bottom: 30px;
}
#tech .tech-text {
  padding-right: 60px;
}
#tech .col-sm-8 {
  margin-top: 50px;
}
#tech .col-sm-2 {
  padding: 0px 10px;
}
#tech .tech-images {
  background: whitesmoke;
  padding: 5px;
}

/*Values*/
#values {
  color: #999999;
  background: url("img/img-world.png"), url("img/img-planet.png"), url("img/bg-board.png");
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: left 50px, right bottom, top;
}
#values p {
  font-size: 16px;
  padding: 0 15px;
}
#values h5 {
  font-weight: 700;
  color: whitesmoke;
}

/*Team*/
#team {
  background: url("img/img-table.png"), url("img/bg-arches.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center bottom, top;
  padding-bottom: 300px;
}
#team .col-sm-12 {
  padding: 0px 80px;
}
#team .img-circle {
  margin-bottom: 20px;
  width: 220px;
}
#team .about-text {
  padding: 0px 50px;
}
#team h4 {
  font-size: 22px;
  font-weight: 500;
  color: #74c135;
}
#team h4 small {
  display: block;
  padding: 5px 0;
  color: #333333;
  font-weight: 700;
}
.team-member {
  margin-top: 40px;
}

/* Blog */
#blog-listing {
  padding-top: 10px;
  padding-bottom: 190px;
  background: url("img/blog.png"), url("img/bg-arches.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center bottom, top;
}

#blog-disclaimer h2 {
  margin-top: 0;
  font-weight: 300;
  letter-spacing: -1px;
  color: white;
  margin-bottom: 10px;
}
#blog-disclaimer p {
  color: #CCC;
  margin-bottom: 0;
}

.blog-post h2, .blog-post h1 {
  text-align: center;
  margin-top: 0;
  letter-spacing: -1px;
  margin-bottom: 5px;
  font-weight: normal;
}
.blog-post h2 a, .blog-post h1 a {
  text-decoration: none;
  color: #333;
}

.blog-preview {
  margin-bottom: 70px;
}

.blog-preview h2 {
  font-size: 40px;
}

.blog-post a, .blog-preview h2 a:hover, #post-author p a, #blog-cover .signature a, #blog-disclaimer a {
  color: #74c135;
  text-decoration: underline;
}
.blog-post a:hover, #blog-cover .signature a:hover, #post-author a:hover, #blog-disclaimer a:hover {
  text-decoration: none;
}
body .blog-preview h2 a:hover {
  text-decoration: none;
}

.blog-post .signature {
  text-align: center;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 20px;
  color: #888;
  font-size: 19px;
}

.signature a img {
  width: 30px;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  right: .2em;
  top: .4em;
  vertical-align: baseline;
}

.blog-post, .blog-post h2, .blog-post h1, .post-content h2, .post-content h3 {
  font-family: "Gentium Basic", Georgia, serif;
}

.blog-preview, .post-content, #post-author {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.post-content, .post-content p {
  font-size: 20px;
  line-height: 1.5;
}

#blog-item {
  background: white;
  padding-top: 0px;
  padding-bottom: 10px;
}

.blog-post h1 {
  font-size: 54px;
}

.post-content p {
  margin: 25px 0;
}

#blog-item .post-content {
  margin-top: 0px;
}

.post-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 30px auto;
}

.post-content h2, .post-content h3 {
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #EEE;
  padding-bottom: 10px;
  color: #666;
  margin: 40px 0 0;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -1px;
}

.post-content > *:last-child {
  margin-bottom: 0;
}

#post-author {
  border-top: 2px solid #EEE;
  padding-top: 30px;
  margin-top: 60px;
  font-size: 18px;
}

#post-author .pull-left {
  margin-right: 30px;
}

#post-author .media-heading {
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}
#post-author .media-heading:hover {
  color: #74c135;
  text-decoration: underline;
}

#post-author img {
  width: 120px;
}
#post-author p {
  color: #666;
}

#blog-cover, #blog-disclaimer {
  background: url("img/img-world.png"), url("img/img-planet.png"), url("img/bg-board.png");
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: left -150px, right bottom, top;
  text-align: center;
}
#blog-cover h1 {
  margin-top: 0;
  font-size: 48px;
  letter-spacing: -1px;
}
#blog-cover h1 a {
  color: white;
}
#blog-cover .container {
  max-width: 1000px;
}
#blog-cover .signature {
  color: #AAA;
  margin-bottom: 5px;
}
#blog-cover .signature img {
  top: .55em;
}

body.single .main-container {
  padding-top: 30px;
} 

#blog-cover #post-author {
  border-top: 0;
  padding-top: 0;
  margin-top: 0;
}
#blog-cover #post-author p {
  color: #AAA;
  font-size: 16px;
}
#blog-cover #post-author h1 {
  color: white;
  margin-top: 0;
}
#blog-cover #post-author img {
  display: block;
  margin: 0 auto 12px;
}
#blog-cover #post-author > *:last-child {
  margin-bottom: 0;
}

.wp-caption {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 100%;
  height: auto; 
}
.post-content .wp-caption-text {
  text-align: center;
  margin-top: -20px;
  color: #999;
}

/*Contact Banner*/
#contact-banner {
  background: #dad8bf;
}
#contact-banner img {
  width: 300px;
}
#contact-banner h2 {
  margin-top: 55px;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 1px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #666666;
}

/*Media Responsive*/
/*col-ms*/
@media (max-width: 1199px){
  
  /*Main md*/
  #main h2 {
    font-size: 54px;
    line-height: 68px;
  }
  
  /*Portfolio md*/
  #portfolio {
    background-size: 200px, 100%;
    background-position: left -30px top 90px, bottom;
  }
  
  /*Tech md*/
  #tech .tech-text {
    padding-right: 15px;
  }
  #tech .col-sm-8 .row.margin-bottom{
    margin-bottom: 0px;
  }
  #tech .col-sm-8.margin-top{
    margin-top: 0px;
  }
  #tech .col-xs-4 {
    padding: 15px;
  }
  
  /*Team md*/
  #team {
    background-size: 1000px, auto;
    padding-bottom: 170px;
  }
  #team .about-text {
    padding: 0 30px;
  }
  
  /*Contact Page Banner xs*/
  #contact-banner img {
    max-width: 250px;
  }
  #contact-banner h2 {
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

/*col-sm*/
@media (max-width: 991px){
  .padding-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  /*Main sm*/
  #main h2 {
    font-size: 44px;
    line-height: 58px;
  }
  
  /*Services sm*/
  #services .services-image {
    margin-top: 150px;
  }
 
  /*Why sm*/
  #why .robot-love img{
    margin-top: 60px;
    padding-right: 20px;
  }
  #why h4 {
    font-size: 32px;
    margin-bottom: 44px;
  }
  #why h5 {
    font-size: 18px;
  }
  #why .why-robot p {
    font-size: 13px;
  }
  
  /*Portfolio sm*/
  #portfolio {
    background-size: 150px, 100%;
    background-position: left -30px top 90px, bottom;
  }
  
  /*Portfolio Listing sm*/
  #portfolio-listing {
   background-position: left -40px top 40px, right bottom -50px, top;
   background-size: auto, 200px, auto;
  }
  #portfolio-listing p {
    font-size: 18px;
  }
  
  /*Contact sm*/
  #contact .number span {
    padding: 10px 0px;
    margin-left: 0px;
  }
  #contact address {
    margin-top: 20px;
  }
  
  /*Contact Page Banner sm*/
  #contact-banner img {
    max-width: 220px;
  }
  #contact-banner h2 {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  
  /*Tech sm*/
  #tech .tech-text {
    text-align: center;
    padding-right: 15px;
  }
  #tech .tech-text h4 {
    font-size: 20px;
  }
  #tech .col-sm-8 .row.margin-bottom{
    margin-bottom: 0px;
  }
  #tech .col-sm-8.margin-top{
    margin-top: 0px;
  }
  #tech .col-xs-4 {
    padding: 15px;
  }
  
  /*Values sm*/
  #values h5 {
    font-size: 16px;
  }
  
  /*Team sm*/
  #team {
    background-size: 730px, auto;
    padding-bottom: 100px;
  }
  #team .margin-bottom3 {
    margin-bottom: 30px;
  }
  #team .col-sm-4 {
    padding: 15px;
  }
  #team .img-responsive {
    margin-bottom: 0px;
    padding: 0px 10px;
  }
  #team .about-text {
    padding: 10px;
  }
  
  /*Blog sm*/
 #blog-listing h2 {
   font-size: 35px;
 }
 #blog-cover h1 a {
   font-size: 40px;
 }
  
}
/*col-xs*/
@media (max-width: 767px){
  body {
    padding-top: 51px;
  }
  h3 {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .padding-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  /*TopBar xs*/
  #topbar.tiny ul a {
    padding: 20px 25px;
  }
  #topbar.tiny .navbar-brand {
    margin-top: 5px;
  }
  #topbar .navbar-brand {
    margin-top: 10px;
    height: 26px;
    width: 81px;
    background-size: 81px 26px;
    margin-left: 15px;
  }
  .navbar-collapse {
    background: #EEE;
  }
  #topbar .navbar-collapse ul {
    float: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  #topbar ul li a {
    border-bottom: 1px solid #E6E6E6;
    padding: 15px 20px;
    display: block;
  }
  #topbar ul li a:hover, body #topbar ul li a:active, body #topbar ul li a:focus {
    background: #E3E3E3;
    color: #333;
  }
  #topbar ul li:last-child a {
    border-bottom: 0;
  }
  
  /*Main xs*/
  #main h2 {
    font-size: 25px;
    line-height: 35px;
  }
  
  /*Services xs*/
  #services .services-image {
    margin-top: 0px;
    margin-bottom: 30px;
    padding-left: 15px;
  }
  #services .row.service-row {
    padding: 7px;
  }
  #services .row.service-row .col-xs-6 {
    padding: 0 7px;
  }
  #services .col-xs-6.text-center {
    min-height: 100px;
  }
  #services .col-sm-6.text-center {
    padding: 0 15px;
  }
  #services h4 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  #services .services-details h5{
    font-size: 16px;
  }
  
  /*Why xs*/
  #why .robot-love {
    margin-bottom: 15px;
  }
  #why .robot-love img{
    max-width: 150px;
  }
  #why .text-why {
    margin-bottom: 0px;
  }
  #why h4 {
    font-size: 25px;
    margin-bottom: 40px;
  }
  #why .why-icons {
    margin-bottom: 30px;
  }
  #why .why-icons h5 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  #why .why-robot {
    margin-top: 20px
  }
  #why .btn-primary.btn-lg, #portfolio .btn.btn-primary.btn-lg, #contact form button.btn {
    font-size: 15px;
    padding: 15px 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  /*Portfolio xs*/
  #portfolio {
   background-image: url("img/bg-clouds.png");
   background-size: 100%;
   background-position: bottom;
  }
  #portfolio h4 {
    font-size: 18px;
  }
  #portfolio .portfolio-cases {
    padding: 0 7px;
  }
  #portfolio .col-xs-6 {
    padding: 7px;
  }
  #portfolio p {
    margin-bottom: 0px;
  }
  
  /*Portfolio Listing xs*/
   #portfolio-disclaimer h2 {
    font-size: 26px;
  }
  #portfolio-listing .section-title {
    margin-bottom: 40px;
  }
  #portfolio-listing .what-we-did {
    font-size: 13px;
  }
    
  /*Contact xs*/
  #contact .call {
    text-align: center;
  }
  #contact .call span{
    font-size: 20px;
  }
  #contact form .btn {
    margin-top: 30px;
  }
  #contact .address-box {
    margin-top: 40px;
    padding: 0px;
  }
  #contact address {
    margin-top: 20px;
  }
  #contact .number span {
    padding: 10px 0px;
    margin-left: 0px;
  }
  
  /*Contact Page Banner xs*/
  #contact-banner img {
    max-width: 220px;
  }
  #contact-banner h2 {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
  } 
   
  /*Tech xs*/
  #tech .tech-text {
    text-align: center;
    padding-right: 15px;
  }
  #tech .col-sm-8 .row {
    padding: 0 7px;
  }
  #tech .col-sm-8 .row.margin-bottom{
    margin-bottom: 0px;
  }
  #tech .col-sm-8.margin-top{
    margin-top: 30px;
  }
  #tech .col-xs-4 {
    padding: 7px;
  }
  
  /*Values xs*/
  #values {
    background: url("img/img-planet.png"), url("img/bg-board.png");
    background-repeat: no-repeat, repeat;
    background-position: right bottom, top;
  }
  #values .row {
    padding: 0 7px;
  }
  #values .margin-bottom2 {
    margin-bottom: 0;
  }
  #values .col-sm-4 {
    padding: 15px 7px;
  }
  
  /*Team xs*/
  #team {
    background-size: 730px, auto;
    padding-bottom: 100px;
  }
  #team .margin-bottom3 {
    margin-bottom: 30px;
  }
  #team .row {
    padding: 0 7px;
  }
  #team .col-sm-4 {
    padding: 7px;
  }
  #team .img-responsive {
    margin-bottom: 0px;
  }
  #team .about-text {
    padding: 10px;
  }

  /*Blog xs*/
  #blog-disclaimer h2, #blog-cover h1 a {
    font-size: 28px;
    line-height: 32px;
  }
  #blog-listing {
    padding-bottom: 60px;
    background-size: 600px, auto;
  }
  #blog-listing h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  #blog-listing p {
    font-size: 18px;
  }
  #blog-listing article {
    margin-bottom: 50px;
  }
  #blog-listing .signature {
    font-size: 14px;
  }
  #blog-item h1, body #blog-cover h1 {
    font-size: 32px;
    line-height: 44px;
  }
  #blog-item .post-content, #blog-listing p, #blog-item .post-content p {
    font-size: 18px;
  }
  #blog-item .post-content h3, #blog-item .post-content h2 {
    font-size: 22px;
  }
  #blog-item .signature {
    font-size: 16px;
  }
  #blog-item .signature img {
    top: .5em;
  }
  
  body #post-author .pull-left {
    float: none !important;
    text-align: center;
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  body #post-author .media-heading {
    text-align: center;
  }
  
  html body .section-title {
    font-size: 32px;
  }

  body .portfolio-item {
    margin-top: 15px;
    height: 120px;
  }
  body .portfolio-item .media-description {
    padding: 14px 14px 14px 0;
  }
  body .portfolio-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  body .portfolio-item p {
    margin: 4px 0;
    font-size: 15px;
  }
  body .portfolio-item .pull-left {
    height: 120px;
    margin-right: 16px;
  }
}